[Unit]
Description=Restic Scheduled Service
After=network.target

[Service]
Type=idle
Restart=on-failure
User=root
ExecStart=/bin/bash -c 'cd /etc/restic_scheduled_backups && source .env/bin/activate && python -m restic_scheduled_backups -c ./config.json'

[Install]
WantedBy=multi-user.target